BitmapModes RCDATA "ModesImage.png"
BitmapRules RCDATA "RulesImage.png"
BitmapSave RCDATA "SaveImage.png"
BitmapAutor RCDATA "AutorImage.png"
SoundOffImage RCDATA "SoundOff.png"
SoundOnImage RCDATA "SoundOn.png"
SoundBackground RCDATA "Background.mp3"
